<!DOCTYPE html><html lang="zh-TW"><head><title>Carousel</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row justify-content-center"><main class="col-md-8 post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">Carousel</h1><small>檔名：<code>carousel.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->
<h2>Example</h2>
<p><b>需要將 <code>.active</code> 添加到其中一個輪播元素上</b>，否則輪播將不可見。另外一定要在 <code> .carousel </code> 上為控制項元件設置一個唯一的 <code>id</code>，特別是當你在一個頁面上使用多個輪播的時候。控制項和指示器元素必須具有與 <code>.carousel</code> 元素之 id 符合的 <code>data-bs-target</code> 屬性（或是連結的 <code>href</code>）</p>

<h4>Slides only</h4>

<ol>
  <li>外層加上 data-bs-ride="carousel"，並給予唯一的 ID</li>
  <li>內層元素需要有一個 active</li>
</ol>

<div class="demo">
    <div id="carouselExampleSlidesOnly" class="carousel slide" 練習>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1580912534328-fbc00d6f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1591133258306-db968099262d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1527777309916-b59323b01809?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
        </div>
    </div>
</div>

<h4>With controls</h4>
<p>加入上一個與下一個控制項時，我們建議使用 <code>&lt;button&gt;</code> 元素，當然你也可以使用 <code>&lt;a&gt;</code> 來當作 button 使用，記得要替 <code>&lt;a&gt;</code> 元素加上 <code>role="button"</code></p>

<p>打開以下註解使用控制器，注意：控制器上的 data-bs-target 需對應外層 ID</p>

<div class="demo">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1580912534328-fbc00d6f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1591133258306-db968099262d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1527777309916-b59323b01809?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" 練習 data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" 練習 data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>
</div>

<h4>With indicators</h4>

<p>打開以下註解使用指引器，指引器的 data-bs-target 需對應外層 ID，並且 data-bs-slide-to 需對應特定的投影片索引（從 0 開始計算）</p>

<div class="demo">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" 練習 class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" 練習 aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" 練習 aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1527777309916-b59323b01809?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1591133258306-db968099262d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1580912534328-fbc00d6f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h4>With captions</h4>
<p>在任意 <code>.carousel-item</code> 中使用 <code>.carousel-caption</code> 替幻燈片添加字幕</p>

<div class="demo">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1580912534328-fbc00d6f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" class="d-block w-100" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="練習 d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1527777309916-b59323b01809?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="練習 d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1591133258306-db968099262d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="練習 d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h4>Crossfade</h4>
<p>將 <code>.carousel-fade</code> 加到輪播中，以使用淡入淡出的取代滑動的動畫效果</p>

<div class="demo">
  <div id="carouselExampleFade" class="carousel slide 練習" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1580691155297-c6dfa3ca61c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1563559776084-759c4c52567f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=887&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1606165194862-535b4a4bbaf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h4>Individual <code>.carousel-item</code> interval</h4>
<p>在 <code>.carousel-item</code> 上添加 <code>data-bs-interval=""</code> 以更改自動循環至下一個項目的延遲時間</p>

<div class="demo">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="練習">
        <img src="https://images.unsplash.com/photo-1600635800433-f3d9b2aa9674?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item" data-bs-interval="練習">
        <img src="https://images.unsplash.com/photo-1606165194862-535b4a4bbaf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1498557850523-fd3d118b962e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h4>Disable touch swiping</h4>

<p>使用 data-bs-touch="false" 禁止觸控事件</p>

<div class="demo">
  <div id="carouselExampleControlsNoTouching" class="carousel slide" 練習 data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1606165194862-535b4a4bbaf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1498557850523-fd3d118b962e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1580691155297-c6dfa3ca61c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h2>Dark variant</h2>
<p>在 <code>.carousel</code> 上添加 <code>.carousel-dark</code> 以獲得暗色系的控制項、指示器及字幕。控制項已透過 CSS 屬性 <code>filter</code> 從它們預設的白色充填反轉。字幕與控制項具有用來自定義 <code>color</code> 及 <code>background-color</code> 的額外 Sass 變數。</p>

<div class="demo">
  <div id="carouselExampleDark" class="carousel 練習 slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://images.unsplash.com/photo-1498557850523-fd3d118b962e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://images.unsplash.com/photo-1600635800433-f3d9b2aa9674?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1606165194862-535b4a4bbaf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- 🙇🙇練習結束🙇🙇 -->
</main>
</div>

  <div class="btn-group position-fixed" style="top: 66px; right: 10px">
  <button type="button" class="btn btn-bs5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i> 選單
  </button>
  <ul class="dropdown-menu p-2 dropdown-menu-end" style="min-width: 200px;">
    <div class="list-group overflow-auto" style="max-height: 500px;">
    
      <a href="/components/component-javascript-intro.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        元件與 JavaScript
      </a>
    
      <a href="/components/accordion.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Accordion
      </a>
    
      <a href="/components/alerts.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Alerts
      </a>
    
      <a href="/components/badges.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Badges
      </a>
    
      <a href="/components/breadcrumb.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Breadcrumb
      </a>
    
      <a href="/components/buttons.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Buttons
      </a>
    
      <a href="/components/buttonGroup.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Button group
      </a>
    
      <a href="/components/cards.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Cards
      </a>
    
      <a href="/components/carousel.html"
        class="list-group-item list-group-item-action text-nowrap
          
          active">
        Carousel
      </a>
    
      <a href="/components/closeButton.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Close button
      </a>
    
      <a href="/components/collapse.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Collapse
      </a>
    
      <a href="/components/dropdowns.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Dropdowns
      </a>
    
      <a href="/components/listGroup.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        List group
      </a>
    
      <a href="/components/modal.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Modal
      </a>
    
      <a href="/components/navsTabs.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Navs and tabs
      </a>
    
      <a href="/components/navbar.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Navbar
      </a>
    
      <a href="/components/offcanvas.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Offcanvas
      </a>
    
      <a href="/components/pagination.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Pagination
      </a>
    
      <a href="/components/popovers.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Popovers
      </a>
    
      <a href="/components/progress.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Progress
      </a>
    
      <a href="/components/scrollspy.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Scrollspy
      </a>
    
      <a href="/components/spinners.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Spinners
      </a>
    
      <a href="/components/toasts.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Toasts
      </a>
    
      <a href="/components/tooltips.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Tooltips
      </a>
    
    </div>
    <div class="mt-3 text-end p-2 bg-light rounded">
      <small class="text-black-50 fw-light mb-0">文件版本：2022/01/20</small>
    </div>
  </ul>
</div>

</div>





<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-bs5 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bootstrap 5 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/content/typography.html">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/layout/breakpoint.html">Grid System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/utilities/background.html">Utilities / Helpers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/forms/accessibility.html">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/components/component-javascript-intro.html">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/bs-javascript/js-intro.html">JavaScripts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Bootstrap 5 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</body>
</html>
