<!DOCTYPE html><html lang="zh-TW"><head><title>Offcanvas</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row justify-content-center"><main class="col-md-8 post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">Offcanvas</h1><small>檔名：<code>offcanvas.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->
<h2>Examples</h2>

<h4>Offcanvas components</h4>

<p>offcanvas 是從畫面側邊出現的元件，透過 JS 來切換期顯示與否</p>

<ul>
  <li>外層包含 offcanvas, offcanvas-start，start, end, top, bottom 決定顯示方向</li>
  <li>必須給予一個特定 id</li>
  <li>內層包含 offcanvas-header, offcanvas-body, offcanvas-title 等樣式</li>
</ul>

<div class="demo">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" style="position: static; display: block; height: 200px; visibility: visible; transform: translate(0);">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    </div>
  </div>
</div>

<h4>Live demo</h4>

<ul>
  <li>為按鈕加上 data-bs-toggle="offcanvas"</li>
  <li>使用 href 或 data-bs-target 指向 offcanvas id</li>
</ul>

<div class="demo">
  <a class="btn btn-primary" data-bs-toggle="offcanvas" 練習 role="button" aria-controls="offcanvasExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" 練習 aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h2>Placement</h2>

<p>試著加入 offcanvas-top, offcanvas-bottom, offcanvas-end 查看其方向性</p>

<div class="demo">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button>

  <div class="offcanvas 練習" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasTopLabel">Offcanvas top</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      ...
    </div>
  </div>
</div>

<h2>Backdrop</h2>

<p>可以使用 data-bs-scroll="true" 在 offcanvas 開啟時維持背景滾動，使用 data-bs-backdrop="false" 關閉覆蓋的背景色。</p>

<div class="demo">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

  <div class="offcanvas offcanvas-start" 練習 tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div>
</div>
<!-- 🙇🙇練習結束🙇🙇 -->
</main>
</div>

  <div class="btn-group position-fixed" style="top: 66px; right: 10px">
  <button type="button" class="btn btn-bs5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i> 選單
  </button>
  <ul class="dropdown-menu p-2 dropdown-menu-end" style="min-width: 200px;">
    <div class="list-group overflow-auto" style="max-height: 500px;">
    
      <a href="/components/component-javascript-intro.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        元件與 JavaScript
      </a>
    
      <a href="/components/accordion.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Accordion
      </a>
    
      <a href="/components/alerts.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Alerts
      </a>
    
      <a href="/components/badges.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Badges
      </a>
    
      <a href="/components/breadcrumb.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Breadcrumb
      </a>
    
      <a href="/components/buttons.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Buttons
      </a>
    
      <a href="/components/buttonGroup.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Button group
      </a>
    
      <a href="/components/cards.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Cards
      </a>
    
      <a href="/components/carousel.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Carousel
      </a>
    
      <a href="/components/closeButton.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Close button
      </a>
    
      <a href="/components/collapse.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Collapse
      </a>
    
      <a href="/components/dropdowns.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Dropdowns
      </a>
    
      <a href="/components/listGroup.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        List group
      </a>
    
      <a href="/components/modal.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Modal
      </a>
    
      <a href="/components/navsTabs.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Navs and tabs
      </a>
    
      <a href="/components/navbar.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Navbar
      </a>
    
      <a href="/components/offcanvas.html"
        class="list-group-item list-group-item-action text-nowrap
          
          active">
        Offcanvas
      </a>
    
      <a href="/components/pagination.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Pagination
      </a>
    
      <a href="/components/popovers.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Popovers
      </a>
    
      <a href="/components/progress.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Progress
      </a>
    
      <a href="/components/scrollspy.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Scrollspy
      </a>
    
      <a href="/components/spinners.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Spinners
      </a>
    
      <a href="/components/toasts.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Toasts
      </a>
    
      <a href="/components/tooltips.html"
        class="list-group-item list-group-item-action text-nowrap
          
          ">
        Tooltips
      </a>
    
    </div>
    <div class="mt-3 text-end p-2 bg-light rounded">
      <small class="text-black-50 fw-light mb-0">文件版本：2025/03/18</small>
    </div>
  </ul>
</div>

</div>





<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-bs5 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bootstrap 5 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/content/typography.html">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/layout/breakpoint.html">Grid System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/utilities/background.html">Utilities / Helpers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/forms/accessibility.html">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/components/component-javascript-intro.html">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/bs-javascript/js-intro.html">JavaScripts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/new-feature-5.3/component-placeholder.html">New Feature</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Bootstrap 5 課程專屬文件</small>
  </div>
</footer>

  <link rel="stylesheet" href="/stylesheets/5.1/all.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</body>
</html>
